<div data-controller="previews" class="flex-shrink-0 mr-4">
    <%= f.label :image, "Картинка", class: "block mb-2" %>

    <%= f.file_field :image, direct_upload: true, data:{previews_target: "input", action: "change->previews#preview"}, required: true, class: "block w-full h-10 rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>

    <div class="mt-2 max-w-full h-56 overflow-hidden rounded-md border border-gray-300">
        <% if post.image.attached? %>
            <%= image_tag post.image, data: { previews_target: "preview" }, class: "w-full h-full object-cover" %>
        <% else %>
            <%= image_tag "", data: { previews_target: "preview" }, class: "w-full h-full object-cover" %>
        <% end %>
    </div>
</div>
